$primary-color: #ffffff;
$secondary-color: #000000;
$color-blue: #017fd5;
$color-gray: #7c8993;
$color-red: #ff5530;
$color-green: #12d16f;
$color-darkGray: #424A55;
$color-lightGray: #ECECEC;
$color-cardhe: #424A55;