// .block-custom-module-example{
    
// }
.main-content__container{
    max-width: 100%;
    padding: 1rem 2rem;
    @media (min-width: 768px) {
        max-width: 90%;
        margin: auto;
        padding: 1rem;
    }
    @media (min-width: 1200px) {
        max-width: 1120px;
        margin: auto;
    }
}